<?php 
	session_start
?>

*{
/*	font-family: Tahoma, Verdana, Segoe, sans-serif;
*/
}


#body_wrapper
{
	margin-left: 55px;
	width: 1050px;
/*	font-family: 'Jura', sans-serif;
*/	font-family: 'robgravesmedium', Arial, sans-serif;
/*	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
*/}



#top_bar
{
	width: 960px;
	height: 170px;	
	background-image: url('pic/tornado.jpg');
	background-size: contain;
	background-repeat: no-repeat;
}

#top_bar h1
{
	color: #2C2C3D;
	float: right;
	font-family: 'Lily Script One', cursive;
	font-size:200%;
	font-size:35px;
	margin-top: -14px;
	margin-bottom: 0px;
}

/*#top_bar h1{
	margin-left: 400px;
	width: 200px;
	margin-right: 0px;
	float: left;
}*/

#jamba_text
{
/*	background-image: url('pic/jambajuice_text_wide.jpg');
*/
/*
	background-size: contain;
	background-repeat: no-repeat;*/
	float: left;
	margin-left: 110px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#jamba_text img
{
	height: 120px;
	max-width:110%; 
	max-height:100%;
	margin:0px;
	margin-right:0px;
	display:block;
	float: left;
	margin-top: 5px;
}

#drinkhold
{
	float: right;/*
	background-image: url('pic/twocup_carrier.jpg');
	background-size:contain;
	background-repeat: no-repeat;*/
	height: 135px;
	width: auto;
}

#drinkhold img
{
	max-width:100%; 
	max-height:100%;
	margin:0px;
	margin-right:10px;
	display:block;
	float: left;
}


.clear
{
	clear: both;
	height: 3px;
	width: 760px;
	margin-left: 50px;
	margin-right: 50px;
}


/*#main_menu{
	padding-left: 13px;
	left margin: -100px;
	height: auto;
	width: 1050px;
	border: 1px solid yellow;
}*/

.smoothie_type
{
/*	width: 940px;
	border-top: 3px solid #663300;
	border-bottom: 6px solid #663300;*/
}


.smoothie_type h2
{
/*	font-family: 'Chango', cursive;
	color: #C3087E;*/
	font-family: 'chalkboard_by_marta_van_eckRg', Arial, sans-serif;
	opacity: .90;
	color: #FFB8FF;
	margin-left: 255px;
	margin-top: 18px;
	margin-bottom: 7px;
	font-size: 53px;
}

.column
{
	width: 430px;
	display: inline-block;
	float: left;
}

.item_wrapper
{
	padding-left: 3px;
	padding-right: 3px;
/*	width: 447px;
*/	height: auto;
/*	float: left;
*/	position:relative;
	display: inline-block;
	color: white;
}

.item_wrapper h3{
	z-index: 10;
	position:relative;
	/*font-family: 'Walter Turncoat', cursive;
	color:#F47B2A;*/
	font-family: 'drawing_guidesregular', Arial, sans-serif; 
	color: #CCFF66;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.item_wrapper h4{
	position:relative;
	margin-top: 0px;
	z-index: 10;
	font-size: 11px;
	width: 375
}

.popup{
	position: absolute;
	left: 0px;
	top: 67px;
/*
	ideally, should grab the height of parent wrapper?*/
	clear: both;
	z-index: 100;
	width: 400px;
	border-radius: 20px;
	font-size: 10px;     
	padding:8px;
	background-color: white;
}

.popup img{
	width: 130px;
	max-height: 100%;
	float: left;
	display: block;
	border-radius: 50px;
}

.popup p{
	float: left;/*
	width: 130px;
	height: auto;*/
	margin-left: 10px;
	margin-top:0px;
}

.checkout{
	min-height: 450px;
	min-width: 400px;
	position: absolute;
	left: 20%;
	clear: both;
	height: auto;
	width: 276px;
	border: 1px solid yellow;
	border-radius: 20px;
	font-size: 10px;     
	padding:8px;
	background-color: #D7EDB4;
}

.checkout input{
	float: right;
}

#enter_address{
	background-color: #CCFF33;

	margin-top: -15px;
	padding-top: 16px;
	padding-bottom: 30px;

	padding-left: 15px;
	padding-right: 15px;
}

.bigslide{
	padding: 35px;
	float: left;/*
	width: 900px;
	height: 574px;*/
/*	background-image: url("pic/finalwoodframe.jpg");
*/	background-repeat:no-repeat;
	background-size:100% 100%;
}


/*below for custom carousel created by trey*/

.slide
{
	width: 970px;
	height: 560px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	background-image: url("pic/finalwoodframe.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
}

#carousel
{
	display: inline-block;
	width:980px;
	height: auto;
}
button
{
	position: absolute;
	top: 410px;
}

#specialbutton button
{
	position: relative;
	top: 20px;
}

#left{
	left: 0px;
}
#right 
{
	left: 1027px;
	z-index: 4;
}

#slide1
{}
#slide2
{
/*	background-color: green;
*/}
#slide3
{
/*	background-color: purple;
*/}
#slide4
{
/*	background-color: yellow;
*/}